/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
@import "~/.config/rofi/themes/sidebar.rasi"
@theme "/home/xavi/.config/rofi/themes/sidebar.rasi"
